@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

p {
    font-weight: 600;
}

.title {
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    text-transform: uppercase;
}

li {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.logo {
    font-size: 44px;
    color: rgba(105, 90, 89, 1);
}

.logo-text,
.info-list-items {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-list-items{
    display: flex;
    font-size: 14px;
    margin-right: 100px;
    gap: 30px;

    .info-list-item{
        display: flex;
        gap: 15px;

        &:last-child{
            margin-left: 30px;
        }
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}

.start {
    background: #343235;
    height: 520px;
    z-index: -2;

    &-title {
        font-size: 46px;
        color: white;
        line-height: 60px;
    }

    &-row {
        padding: 80px 100px 80px 100px;
        display: flex;
        justify-content: space-between;
    }

    &-text {
        color: rgb(211, 201, 195);
        margin: 40px 0px 60px 0px;
    }

    &-link {
        color: rgba(167, 133, 135, 1);
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        border-bottom: 1px solid rgba(167, 133, 135, 1);
        border-top: 1px solid rgba(167, 133, 135, 1);
        padding: 20px;
        transition: 0.3s;

        &:hover {
            color: white;
            border: 1px solid white;
            background: rgba(0, 0, 0, 0.200);
        }
    }

    &-image {
        grid-row: 1/4;
        grid-column: 2/3;
    }
}

.about {
    margin-top: 150px;

    & p {
        line-height: 32px;
        color: rgba(105, 90, 89, 1);
    }

    &_row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;


        p:nth-child(5) {
            grid-column: 1/3;
        }

        p:nth-child(7) {
            align-self: end;
            border-left: 1px solid #A78587;
            padding-left: 30px;
        }

        &::before {
            content: 'ABOUT US';
            position: absolute;
            color: rgba(234, 225, 220, 0.500);
            font-size: 140px;
            z-index: -1;
            font-family: 'Old Standard TT', serif;
        }
    }

    &-title {
        font-size: 42px;
        color: rgba(105, 90, 89, 1);
        margin-left: 100px;
        grid-column: 1/3;
        padding-top: 50px;
    }

    &-block-one {
        display: flex;
        margin-top: 35px;
        padding: 100px;
        justify-content: space-between;
    }

    &-image {
        grid-column: 1/-1;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
        background-image: url(/img/image-6);

        & p {
            font-size: 26px;
            line-height: 48px;
            text-align: center;
            font-weight: 600;
            color: white;
        }
    }

    &-pil {
        justify-self: center;
    }
}

.production {
    margin-top: 100px;

    &-list-items {
        display: grid;
        grid: 500px 240px / 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 40px;

        .production-list-item-text {
            display: flex;
            flex-direction: column;
            padding: 40px;
            gap: 20px;
            background: white;

            h3 {
                text-transform: none;
                font-size: 32px;
                color: rgba(105, 90, 89, 1);
            }

            & p:nth-child(2) {
                font-weight: bold;
                font-size: 22px;
            }

            & p:nth-child(3) {
                color: rgba(105, 90, 89, 1);
            }

            & p:nth-child(4) {
                color: rgba(154, 133, 132, 1);
                position: relative;

                &::before{
                    content: url(/img/image-26);
                    position: absolute;
                    padding-left: 90px;
                    padding-top: 3px;
                }
            }
        }

        .production-list-block {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            grid-column: 1/-1;

            .production-list-item {
                &:nth-child(1) {
                    display: flex;
                    width: 620px;
                }

                &:nth-child(2) {
                    display: flex;
                    width: 620px;
                }
            }
        }
    }

    &-title {
        font-size: 42px;
        color: rgba(105, 90, 89, 1);
        margin-left: 100px;
        padding-top: 25px;
    }

    &_row {
        &::before {
            content: 'THE BEST';
            position: absolute;
            color: rgba(234, 225, 220, 0.500);
            font-size: 140px;
            z-index: -1;
            font-family: 'Old Standard TT', serif;
        }
    }
}

.photos {
    margin-top: 130px;

    &-title {
        font-size: 42px;
        color: rgba(105, 90, 89, 1);
        margin-left: 100px;
        padding-top: 25px;
    }

    &_row {
        &::before {
            content: 'PROJECTS';
            position: absolute;
            color: rgba(234, 225, 220, 0.500);
            font-size: 140px;
            z-index: -1;
            font-family: 'Old Standard TT', serif;
        }
    }

    &-list-items {
        display: grid;
        gap: 30px;
        grid: 1fr / 1fr auto 1fr;
        margin-top: 40px;

        .photos-list-item {

            &:nth-child(1),
            &:nth-child(3) {
                display: flex;
                background: rgba(52, 50, 53, 1);
                width: 92px;
                height: 92px;
                border-radius: 100px;
                align-self: center;
                align-items: center;
                justify-content: center;
            }

            &:nth-child(3){
                transform: rotate(180deg);
            }

            &:nth-child(2) {
                display: grid;
                grid: 1fr auto / 1fr 1fr;

                & img {
                    grid-column: 1/3;
                    grid-row: 1/3;
                }
            }

            &-block {
                grid-row: 2/3;
                grid-column: 1/3;
                display: flex;
                padding: 30px;
                justify-content: space-between;
                color: white;
                background: rgba(52, 50, 53, 0.9);
                align-items: center;

                & p:nth-child(2){
                    margin-right: 100px;

                    &::before{
                        content: url(/img/image-27);
                        position: absolute;
                        padding-left: 120px;
                        margin-top: 2px;
                    }
                }
            }
        }
    }

}

.team {
    background: rgba(52, 50, 53, 1);
    color: white;
    position: relative;
    z-index: 1;

    &-title {
        font-size: 42px;
        margin-left: 100px;
        padding-top: 25px;
        z-index: 5;
        position: relative;
    }

    &_row {
        display: grid;
        grid: auto auto auto / 1fr 1fr;
        padding-top: 150px;

        & h2 {
            grid-column: 1/-1;
        }

        & p:nth-child(3) {
            justify-self: end;
            margin: 40px 100px 0px 0px;
        }

        & p:nth-child(2) {
            margin: 40px 0px 40px 100px;
        }

        & img {
            margin-bottom: 120px;
            grid-column: 1/-1;
        }

        &::before {
            content: 'OUR TEAM';
            position: absolute;
            color: rgba(154, 133, 132, 0.1);
            font-size: 140px;
            font-family: 'Old Standard TT', serif;
            z-index: 2;
        }
    }
}

.metamorphosis {
    margin-top: 120px;

    &-title {
        font-size: 42px;
        color: rgba(105, 90, 89, 1);
        margin-left: 100px;
        padding-top: 50px;
    }

    &_row {
        &::before {
            content: 'COLLECTIONS';
            position: absolute;
            color: rgba(234, 225, 220, 0.500);
            font-size: 140px;
            z-index: -1;
            font-family: 'Old Standard TT', serif;
        }
    }

    & p {
        margin-top: 60px;
        margin-left: 100px;
    }

    &-images-list {
        display: grid;
        grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
        gap: 20px;
        margin-top: 40px;

        & li {
            &:nth-child(1) {
                grid-row: 1/3;
                grid-column: 1/2;
                height: 500px;
            }

            &:nth-child(2) {
                grid-row: 1/2;
                grid-column: 2/3;
                height: 240px;
            }

            &:nth-child(3) {
                grid-row: 2/3;
                grid-column: 2/3;
                height: 240px;
            }

            &:nth-child(4) {
                grid-row: 3/4;
                grid-column: 1/2;
                height: 240px;
            }

            &:nth-child(5) {
                grid-row: 4/5;
                grid-column: 1/2;
                height: 240px;
            }

            &:nth-child(6) {
                grid-row: 3/5;
                grid-column: 2/3;
                height: 500px;
            }
        }
    }
}

.footer {
    margin-top: 120px;
    background: #343235;
    z-index: 1;
    color: white;

    &-list-items {
        padding-left: 100px;
        display: grid;
        grid: 1fr / 1fr 1fr;
        gap: 100px;

        .footer-list-item:nth-child(1) {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            gap: 50px;
            margin-top: 92px;
            margin-bottom: 80px;

            & a {
                color: rgba(167, 133, 135, 1);
                text-decoration: none;
                text-align: center;
                padding: 20px;
                border-top: 1px solid #A78587;
                border-bottom: 1px solid #A78587;

                &:hover {
                    color: white;
                    border: 1px solid white;
                    background: rgba(0, 0, 0, 0.200);
                }
            }
        }
    }

    &-title {
        font-size: 42px;
        color: rgba(105, 90, 89, 1);
        padding-top: 25px;
        z-index: 5;
    }

    &_row {
        &::before {
            content: 'TALK';
            position: absolute;
            color: rgba(154, 133, 132, 0.1);
            font-size: 140px;
            z-index: 2;
            font-family: 'Old Standard TT', serif;
            padding-top: 92px;
        }
    }
}

input:nth-child(3),
input:nth-child(4) {
    background: none;
    border: none;
    color: white;
    border-bottom: 1px solid #A78587;
    padding: 10px 0;
}

.inputs {
    display: flex;
    justify-content: space-between;

    input:nth-child(1) {
        background: none;
        padding: 20px 15px;
        border: 1px solid rgba(167, 133, 135, 1)
    }
    input:nth-child(3){
        align-self: center;
        margin-left: 80px;
        transform: scale(1.7);
    }
    label{
        align-self: center;
        margin-left: 20px;
        
    }
}

.mission {
    margin-top: 120px;
    background: rgba(52, 50, 53, 1);
    padding-top: 120px;


    &_row {
        display: grid;
        grid: 1fr auto auto auto / 1fr auto auto;
        gap: 20px;

        h2 {
            grid-column: 3/4;
            grid-row: 1/2;
        }

        p {
            grid-column: 3/4;
            grid-row: 2/3;
            color: white;
            margin-bottom: 65px;
            margin-left: 100px;
            line-height: 27px;
        }

        & img:nth-child(1) {
            grid-row: 1/4;
            grid-column: 1/3;
        }

        & img:nth-child(5) {
            grid-row: 3/5;
            grid-column: 3/4;
        }

        & img:nth-child(4) {
            grid-row: 4/5;
            grid-column: 2/3;
        }
    }

    &-title {
        font-size: 42px;
        color: rgb(255, 255, 255);
        padding-top: 25px;
        position: relative;
        z-index: 5;
        margin-left: 100px;
        &::before {
            content: 'MISSION';
            position: absolute;
            color: rgba(154, 133, 132, 0.1);
            font-size: 140px;
            z-index: 2;
            font-family: 'Old Standard TT', serif;
            margin-top: -25px;
            margin-left: -100px;
        }
    }
}